<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>AENote_Server</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:resource/applicationContext.xml
		</param-value>
	</context-param>
	<context-param>
		<param-name>log4jConfigLocation</param-name>
        <param-value>/WEB-INF/classes/resource/log4j.xml</param-value>
	</context-param>
	<context-param>
		<param-name>log4jRefreshInterval</param-name>
		<param-value>600000</param-value>
	</context-param>
	<listener>
		<listener-class>
			org.springframework.web.util.Log4jConfigListener
		</listener-class>
	</listener>
	<listener>
		<listener-class>
			org.springframework.web.util.WebAppRootListener
		</listener-class>
	</listener>
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	<listener>
		<listener-class>com.zzn.aenote.http.SysInitListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>BaseServlet</servlet-name>
		<servlet-class>com.zzn.aenote.http.BaseServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FileServlet</servlet-name>
		<servlet-class>com.zzn.aenote.http.FileServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ImgServlet</servlet-name>
		<servlet-class>com.zzn.aenote.http.ImgServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DownLoad</servlet-name>
		<servlet-class>com.zzn.aenote.http.DownLoad</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>BaseServlet</servlet-name>
		<url-pattern>/app/*</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>FileServlet</servlet-name>
		<url-pattern>/file</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImgServlet</servlet-name>
		<url-pattern>/img</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DownLoad</servlet-name>
		<url-pattern>/download</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
