<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
	default-autowire="byName">
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:resource/application.properties</value>
			</list>
		</property>
	</bean>
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${dataSource.driver}" />
		<property name="url" value="${dataSource.url}" />
		<property name="username" value="${dataSource.user}" />
		<property name="password" value="${dataSource.password}" />
	</bean>
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource">
			<ref local="dataSource" />
		</property>
	</bean>
	<!-- 用户信息 -->
	<bean id="userService" class="com.zzn.aenote.http.service.UserService">
	</bean>
	<!-- 项目信息 -->
	<bean id="projectService" class="com.zzn.aenote.http.service.ProjectService">
	</bean>
	<!-- 考勤信息 -->
	<bean id="attendanceService" class="com.zzn.aenote.http.service.AttendanceService">
	</bean>
	<!-- 附件 -->
	<bean id="attchService" class="com.zzn.aenote.http.service.AttchService">
	</bean>
	<!-- 评价 -->
	<bean id="rateService" class="com.zzn.aenote.http.service.RateService">
	</bean>
	<!-- 工作圈 -->
	<bean id="postService" class="com.zzn.aenote.http.service.PostService">
	</bean>
	<!-- 注册 -->
	<bean id="register" class="com.zzn.aenote.http.server.user.Register">
		<property name="userService">
			<ref local="userService" />
		</property>
	</bean>
	<!-- 登陆 -->
	<bean id="login" class="com.zzn.aenote.http.server.user.Login">
		<property name="userService">
			<ref local="userService" />
		</property>
		<property name="projectService">
			<ref local="projectService" />
		</property>
	</bean>
	<!-- 短信验证 -->
	<bean id="verifySmsCode" class="com.zzn.aenote.http.server.user.VerifySmsCode">
	</bean>
	<!-- 修改密码 -->
	<bean id="resetPassword" class="com.zzn.aenote.http.server.user.ResetPassword">
		<property name="userService">
			<ref local="userService" />
		</property>
	</bean>
	<!-- 根据用户ID查询用户 -->
	<bean id="queryUserByID" class="com.zzn.aenote.http.server.user.QueryUserByID">
		<property name="userService">
			<ref local="userService" />
		</property>
	</bean>
	<!-- 修改用户头像 -->
	<bean id="updateHead" class="com.zzn.aenote.http.server.user.UpdateHead">
		<property name="userService">
			<ref local="userService" />
		</property>
		<property name="attchService">
			<ref local="attchService" />
		</property>
		<property name="charset"><!-- 默认编码为UTF-8 -->
			<value>UTF-8</value>
		</property>
		<property name="maxSize"><!-- 默认接收最大文件大小为10M -->
			<value>104857600</value>
		</property>
	</bean>
	<!-- 修改用户名 -->
	<bean id="updateName" class="com.zzn.aenote.http.server.user.UpdateName">
		<property name="userService">
			<ref local="userService" />
		</property>
	</bean>
	<!-- 修改用户个人说明 -->
	<bean id="updateRemark" class="com.zzn.aenote.http.server.user.UpdateRemark">
		<property name="userService">
			<ref local="userService" />
		</property>
	</bean>
	<!-- 修改用户身份证号 -->
	<bean id="updateIDCard" class="com.zzn.aenote.http.server.user.UpdateIDCard">
		<property name="userService">
			<ref local="userService" />
		</property>
	</bean>
	<!-- 修改用户身份证照 -->
	<bean id="updateIDCardImg" class="com.zzn.aenote.http.server.user.UpdateIDCardImg">
		<property name="userService">
			<ref local="userService" />
		</property>
		<property name="attchService">
			<ref local="attchService" />
		</property>
		<property name="charset"><!-- 默认编码为UTF-8 -->
			<value>UTF-8</value>
		</property>
		<property name="maxSize"><!-- 默认接收最大文件大小为10M -->
			<value>104857600</value>
		</property>
	</bean>
	<!-- 创建项目 -->
	<bean id="createProject" class="com.zzn.aenote.http.server.project.CreateProject">
		<property name="projectService">
			<ref local="projectService" />
		</property>
	</bean>
	<!-- 更新上级项目 -->
	<bean id="joinProject" class="com.zzn.aenote.http.server.project.JoinProject">
		<property name="projectService">
			<ref local="projectService" />
		</property>
		<property name="userService">
			<ref local="userService" />
		</property>
	</bean>
	<!-- 修改项目名 -->
	<bean id="updateProjectName" class="com.zzn.aenote.http.server.project.UpdateProjectName">
		<property name="projectService">
			<ref local="projectService" />
		</property>
	</bean>
	<!-- 查询所有详情 -->
	<bean id="queryProjectList" class="com.zzn.aenote.http.server.project.QueryProjectList">
		<property name="projectService">
			<ref local="projectService" />
		</property>
	</bean>
	<!-- 查询项目详情 -->
	<bean id="queryProjectDetail" class="com.zzn.aenote.http.server.project.QueryProjectDetail">
		<property name="projectService">
			<ref local="projectService" />
		</property>
	</bean>
	<!-- 查询项目组织架构 -->
	<bean id="queryProjectStructure"
		class="com.zzn.aenote.http.server.project.QueryProjectStructure">
		<property name="projectService">
			<ref local="projectService" />
		</property>
	</bean>
	<!-- 查询下级所有项目 -->
	<bean id="queryLeafProject"
		class="com.zzn.aenote.http.server.project.QueryLeafProject">
		<property name="projectService">
			<ref local="projectService" />
		</property>
	</bean>
	<!-- 查询项目成员 -->
	<bean id="queryProjectUsers" class="com.zzn.aenote.http.server.project.QueryProjectUsers">
		<property name="projectService">
			<ref local="projectService" />
		</property>
	</bean>
	<!-- 删除项目 -->
	<bean id="deleteProject" class="com.zzn.aenote.http.server.project.DeleteProject">
		<property name="projectService">
			<ref local="projectService" />
		</property>
	</bean>
	<!-- 打卡 -->
	<bean id="scanning" class="com.zzn.aenote.http.server.attendance.Scanning">
		<property name="userService">
			<ref local="userService" />
		</property>
		<property name="projectService">
			<ref local="projectService" />
		</property>
		<property name="attendanceService">
			<ref local="attendanceService" />
		</property>
		<property name="attchService">
			<ref local="attchService" />
		</property>
		<property name="charset"><!-- 默认编码为UTF-8 -->
			<value>UTF-8</value>
		</property>
		<property name="maxSize"><!-- 默认接收最大文件大小为10M -->
			<value>104857600</value>
		</property>
	</bean>
	<!-- 打卡 -->
	<bean id="scanningLeaf" class="com.zzn.aenote.http.server.attendance.ScanningLeaf">
		<property name="projectService">
			<ref local="projectService" />
		</property>
		<property name="attendanceService">
			<ref local="attendanceService" />
		</property>
	</bean>
	<!-- 根据项目查询考勤记录 -->
	<bean id="sumCountByProject" class="com.zzn.aenote.http.server.attendance.SumCountByProject">
		<property name="attendanceService">
			<ref local="attendanceService" />
		</property>
	</bean>
	<!-- 根据项目查询考勤记录 -->
	<bean id="sumListByProject" class="com.zzn.aenote.http.server.attendance.SumListByProject">
		<property name="attendanceService">
			<ref local="attendanceService" />
		</property>
	</bean>
	<!-- 根据用户查询考勤记录 -->
	<bean id="sumListByUser" class="com.zzn.aenote.http.server.attendance.SumListByUser">
		<property name="attendanceService">
			<ref local="attendanceService" />
		</property>
	</bean>
	<!-- 版本更新接口 -->
	<bean id="versionUpdate" class="com.zzn.aenote.http.server.VersionUpdate">
	</bean>
	<!-- 用户反馈接口 -->
	<bean id="feedback" class="com.zzn.aenote.http.server.Feedback">
	</bean>
	<!-- 评价 -->
	<bean id="rate" class="com.zzn.aenote.http.server.rate.Rate">
		<property name="rateService">
			<ref local="rateService" />
		</property>
	</bean>
	<!-- 评价 -->
	<bean id="queryRateForToday" class="com.zzn.aenote.http.server.rate.QueryRateForToday">
		<property name="rateService">
			<ref local="rateService" />
		</property>
	</bean>
	<!-- 上传文件 -->
	<bean id="upLoadFile" class="com.zzn.aenote.http.server.UpLoadFile">
		<property name="attchService">
			<ref local="attchService" />
		</property>
		<property name="charset"><!-- 默认编码为UTF-8 -->
			<value>UTF-8</value>
		</property>
		<property name="maxSize"><!-- 默认接收最大文件大小为10M -->
			<value>104857600</value>
		</property>
	</bean>
	<!-- 发帖 -->
	<bean id="post" class="com.zzn.aenote.http.server.post.Post">
		<property name="postService">
			<ref local="postService" />
		</property>
	</bean>
	<!-- 评论 -->
	<bean id="comment" class="com.zzn.aenote.http.server.post.Comment">
		<property name="postService">
			<ref local="postService" />
		</property>
	</bean>
	<!-- 查询工作圈 -->
	<bean id="queryPost" class="com.zzn.aenote.http.server.post.QueryPost">
		<property name="postService">
			<ref local="postService" />
		</property>
	</bean>
	<!-- 创建新任务 -->
	<bean id="createTask" class="com.zzn.aenote.http.server.task.CreateTask">
		<property name="taskService">
			<ref local="taskService" />
		</property>
	</bean>
	<!-- 更新任务状态 -->
	<bean id="processTask" class="com.zzn.aenote.http.server.task.ProcessTask">
		<property name="taskService">
			<ref local="taskService" />
		</property>
	</bean>
	<!-- 查询任务 -->
	<bean id="queryTask" class="com.zzn.aenote.http.server.task.QueryTask">
		<property name="taskService">
			<ref local="taskService" />
		</property>
	</bean>
	<!-- 查询我执行的任务 -->
	<bean id="queryMyTask" class="com.zzn.aenote.http.server.task.QueryMyTask">
		<property name="taskService">
			<ref local="taskService" />
		</property>
	</bean>
</beans>
